h1{
    margin-top: 10px;
    padding: 20px 0px 0px 0px;
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
}

.header {
  overflow: hidden;
  background-color:white;
  padding: 20px 10px;
}

* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .btn {
    border: none;
    background-color: inherit;
    padding-left: 5%;
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    opacity: 1;
    transition: 0.3s;
    padding-left: 5%;
  }
  
  .btn:hover {opacity: 0.2}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: rgb(233, 230, 230);
  color: black;
}

.header-right {
  float: right;
}



  #footer {
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
  }

  





  body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: content-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 10%;
  border-radius: 50%;
}

.container {
    width: 60%;
    padding-left: 35%;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }